<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/manifest.json">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/index.css">

  <meta name="theme-color" content="#4caf50">
  <title><%= title %></title>

</head>
<body>
  <header>
    <div class="header-container">
      <img src="<%= logo %>" alt="Master Sushi Logo" class="logo">
      <h1><%= message %></h1>
    </div>
  </header>

  <main class="cards-container">
    <section class="card">
      <img src="/images/002.jpg" alt="Technologie" class="card-image">
      <div class="card-content">
        <h2>Najnowsze Technologie w Rozwoju Webowym</h2>
        <ul>
          <% technologies.forEach(function(tech) { %>
            <li><%= tech %></li>
          <% }); %>
        </ul>
      </div>
    </section>

    <section class="card">
      <img src="/images/003.jpg" alt="Sushi" class="card-image">
      <div class="card-content">
        <h2>Dlaczego My?</h2>
        <p>Oferujemy najlepsze sushi w mieście, przygotowane z miłością i najwyższej jakości składników.</p>
      </div>
    </section>

    <section class="card">
      <img src="/images/004.jpg" alt="Kontakt" class="card-image">
      <div class="card-content">
        <h2>Skontaktuj się z nami</h2>
        <p>Email: info@mastersushi.com</p>
        <p>Telefon: +1 234 567 890</p>
      </div>
    </section>
  </main>
  <%- include('partials/navigation') %>



  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js').then(() => {
        console.log('Service Worker Registered');
      }).catch(err => {
        console.error('Service Worker Registration Failed:', err);
      });
    }
  </script>
</body>
</html>



